
/* --------------公共样式 -----------------*/
html,body{
	width: 100%;
	height: auto;
}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0
}
ol,ul {
	list-style: none
}
a {
	text-decoration: none;
	color: #000;
}
legend {
	color: #000
}
fieldset,img {
	border: 0
}
button,input,select,textarea {
	font-size: 100%
}

.left{float:left;}
.right{float:right;}

.contain{width:1090px;margin:0 auto;}

.warp{ width:100%;border-bottom:1px solid #e5e5e5;background:#f2f2f2;}
.top{height:32px;position: relative;}   
.top_L{width:230px;height:32px;font-size: 12px;line-height: 30px;float:left;}
.top_L span{color: #6c6c6c;}
.top_L a{color:#ec3e7d;}
.top_L1{margin:0 4px;}
.top_R{width:550px;height:32px;float:right;}
.top_R li{float:left;font-size: 12px;line-height: 32px;margin:0 8px;}
.top_R .tb{display: block;padding: 0 12px;}
.top_R img{float:left;margin: 8px 4px 0 0;}
.top_R span{width:10px;background:url(../image/tubiao4.jpg)no-repeat center center;
    margin-left:5px;display:inline-block;height:32px;float:right;}
.topjs{position:absolute;top:32px;z-index:2;padding:0 17px;border:1px solid #ededed;
    border-top:none;background:#fff;display: none;}      
.topjs p{height:28px;line-height:28px;display:block;margin-left: 8px;}



/*----尾部-----------------------------------------------------------------------------------------------------*/

.footer_ward{width:100%;height:436px;overflow: hidden;border-top: 4px solid #c69a62;}
.footer{width:1090px;height:250px;padding-top:30px;margin:0 auto;}	
.page{width:1090px;height:250px;}
.page .logo2{width:230px;height:220px;background:url(../image/logo02.png) no-repeat;margin-top: 30px;}

.helper{width:120px;height:223px;margin-top: 27px;}
.helper dt{margin-bottom: 8px;}
.helper dt a{color:#ec3e7d;font-size:12px;font-weight: bold;}
.helper	dd li{line-height: 25px;}
.helper	dd li a{color:#3e3e3e;font-size:12px;}	
.erwei{width:260px;height:225px;float:right;padding-top: 25px;text-align: center;}
.erwei h3{width:130px;height:250px;float:left;}

.footerlist_ward{width:100%;height:52px;border:1px solid #e8e8e8;}
.footerlist{width:1007px;height:52px;margin:0 auto;padding-left: 83px;}
.footerlist ul{width:930px;height:52px;}
.footerlist li{float:left;}
.footerlist li a{font-size: 12px;margin:0 17px;color: #c69a62;line-height: 52px;}

.footer_L{width:100%;}
.footer_L1{width:1040px;height:76px;margin:0 auto;padding-left: 50px;}
.footer_L1 p{color:#999999;line-height: 76px;font-size:12px;}
.footer_L1 p span{margin-left: 550px;}



.hl4{width:225px;height:22px;margin-left: 15px;margin-top: 5px;}
.hl4 a{font-weight: bold;font-size: 11px;margin-left: 5px;}

.hl5{width:203px;height:28px;margin-left: 37px;border-bottom: 1px solid #e7e7e7;}
.hl5 a{font-size: 10px;margin-right: 5px;}

.hl6{width:225px;height:32px;margin-left: 15px;line-height: 32px;}
.hl6 img{float:left;margin-top: 8px;}
.hl6 a{float:left;display:block;width:200px;font-weight: bold;font-size: 11px;margin-left: 5px;border-bottom: 1px solid #e7e7e7;}



























































